footer
{
    padding: 40px 0;
    background-color: $color-primary;

    @media screen and (max-width:1599px)
    { 
        padding:20px 0;
    }

    @include breakpoint(mobile)
    {
        padding: 50px 0;
    }


    .container  
    {
       .footer-col
        {
            align-self: center;
            
            li,
            p
            {
                 font-size:14px;
                  line-height: 1.45;
                  font-family: $US-ragular;

                  @media screen and (max-width:1599px)
                    {
                        font-size: 12px;
                    }
            } 

            p
            {
                a
                {
                    &:hover
                    {
                        text-decoration: underline; 
                    }
                }
            }
            li,
            p,
            a
            { 
                color: $color-white; 
            }

            &.footer-copyright
            {
                p
                {
                    opacity: 0.25;
                }
            }
            &.footer-sm
            {

                display: flex;
                    align-items: center;
                    justify-content: center;

                ul
                {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start; 
                    
                    li
                    {
                     display: flex;
                     align-items: center;
                     justify-content: center;

                     @media screen and (max-width:1599px)
                        {
                            font-size: 16px;
                        }

                     &:last-child
                     {
                         &:after
                         {
                             display: none;
                         }
                     }

                        &:after
                        {
                            content:'';
                            display: inline-block;
                            width: 5px;
                            height: 5px;
                            border-radius: 100%;
                            background-color: $color-white;
                            margin: 0 20px;

                            @media screen and (max-width:1599px)
                            {
                                margin: 0 10px;
                            }
                        }
                    }
                }
            }

            &.footer-policy
            {
                text-align: right;
            }
        }
    }

    @media screen and (min-width:768px)
    {
        .row.mobile-ver
        {
            display: none;
        }
    }

    @include breakpoint(mobile)
    {
        .row.desktop-ver {
            display: none;
        }

        .footer-mobile
        {
        text-align:center;

        ul
        {
            li
            {
                margin-bottom: 30px;

                &:last-child
                {
                    margin-bottom: 0;
                }
            }

            &:after
            {
                content:'';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: $color-white;
                margin: 30px 0;
            }
        }

        .footer-col
        {
            margin-bottom: 30px;

            &:last-child
            {
                margin-bottom: 0;
            }
        }
        .footer-col.footer-policy
        {
            text-align: center;
        }
        }
    }
}